 <h3>Comentários</h3>
<div class="row" ng-hide="Comentario.inserting || Comentario.editing">

  <div class="col-md-2">
    <div>
      <label for="textinput-filter" class="">{{"template.crud.search" | translate}} Texto</label>
      <input ng-model="texto" class="form-control" value="" placeholder="Texto" type="text">
    </div>
  </div>
  <div class="col-md-2">
    
  </div>
</div>
<br>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?moderado=true" name="Comentario" entity="api/rest/Comentario/specificSearch" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Comentario">
  <div crn-datasource="Comentario" class="" ng-hide="Comentario.editing || Comentario.inserting" >
    <table class="table  table-bordered table-hover table-striped" >
      <thead>
        <tr class="table-header">
          
          <th class="active">
            <div class="">Data</div>
          </th>
          <th class="">
            <div class="">Texto</div>
          </th>
          <th class="">
            <div class="">Nota</div>
          </th>
          
          <th class="">
            <div class="">User</div>
          </th>
          <th class="">
            <div class="">Posto</div>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          
          <td class="active">
            <div class="">
              {{rowData.data | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.texto}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.nota}}
            </div>
          </td>
          
          <td class="">
            <div class="">
              {{rowData.user.email}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.posto.nome}}
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Comentario">
  <div class="form" ng-show="Comentario.editing || Comentario.inserting">
    
    <form>
        <fieldset>
            <!-- OneToN -->
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
  </div>
</div>