<h3>Comentário</h3>

<style type="text/css">

.form-group input[type=radio] {
  display: none;
}
.form-group label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.form-group input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}   
 
</style>

<div class="row" ng-hide="Comentario.inserting || Comentario.editing">
  <div class="col-md-2">
    <div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-32329">
      <div class="form-group">
        <div style="position:relative">
          <input type="text" as-date="" class="form-control" format="DD/MM/YYYY HH:mm:ss" ng-model="data" placeholder="Data">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <label for="textinput-filter">{{"template.crud.search" | translate}} Texto</label>
      <input type="text" ng-model="texto" class="form-control" value="" placeholder="Texto">
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <label for="textinput-filter">{{"template.crud.search" | translate}} Moderado</label>
      <input type="checkbox" ng-model="moderado" class="form-control" value="" placeholder="Moderado">
    </div>
  </div>
</div>
<br>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?data={{data| date:'dd/MM/yyyy HH:mm:ss'}}&amp;texto={{texto}}&amp;moderado={{moderado}}" name="Comentario" entity="api/rest/Comentario/specificSearch" keys="id" rows-per-page="100" delete-message="Deseja remover?"></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Comentario.startInserting()" ng-hide="Comentario.inserting || Comentario.editing"><i class="fa fa-user"></i> <span>{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Comentario">
  <div crn-datasource="Comentario" ng-hide="Comentario.editing || Comentario.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th>
            <div>Data</div>
          </th>
          <th>
            <div>Texto</div>
          </th>
          <th>
            <div>Nota</div>
          </th>
          <th>
            <div>Moderado</div>
          </th>
          <th>
            <div>User</div>
          </th>
          <th>
            <div>Posto</div>
          </th>
          <th>
            <div>{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td>
            <div>
              {{rowData.data | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.texto}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.nota}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.moderado}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.user.email}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.posto.nome}}
            </div>
          </td>
          <td>
            <div>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Comentario" onload="dataHora()">
  <div class="form" ng-show="Comentario.editing || Comentario.inserting">
    <form crn-datasource="Comentario" onload="atualizarDataHora()">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-data">
          <div class="form-group">
            <label for="textinput-data">Data</label>
            <div style="position:relative">
              <input type="date" ng-model="Comentario.active.data" class="form-control" id="textinput-data">
            </div>
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-texto">
          <div class="form-group">
            <label for="textinput-texto">Texto</label>
            <input type="text" ng-model="Comentario.active.texto" class="form-control" id="textinput-texto" placeholder="Texto">
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-nota">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          
        </div>
        <div data-component="crn-textinput" id="crn-textinput-moderado">
          
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="user" entity="api/security/User" keys="id" dependent-by="{{Comentario}}"></datasource>
        </div>
        <div data-component="crn-combobox" id="crn-combobox-user">
          <div class="form-group">
            <label for="combobox-user">User</label>
            <ui-select ng-model="Comentario.active.user" crn-datasource="user" class="crn-select" id="combobox-user">
              <ui-select-match>
                {{$select.selected.email}}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search">
                <div data-container="true">
                  {{rowData.email}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="posto" entity="api/rest/Posto" keys="id" dependent-by="{{Comentario}}"></datasource>
        </div>
        <div data-component="crn-combobox" id="crn-combobox-posto">
          <div class="form-group">
            <label for="combobox-posto">Posto</label>
            <ui-select ng-model="Comentario.active.posto" crn-datasource="posto" class="crn-select" id="combobox-posto">
              <ui-select-match>
                {{$select.selected.nome}}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search">
                <div data-container="true">
                  {{rowData.nome}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset><div class="form-group">
            <label for="textinput-moderado">Moderado</label>
            <input type="checkbox" ng-model="Comentario.active.moderado" id="textinput-moderado" placeholder="Moderado">
          </div><label for="combobox-user">Nota</label><div class="form-group">
            <input type="radio" id="cm_star-empty" name="fb" value="" checked="">
            <label for="cm_star-1"><i class="fa"></i></label>
            <input type="radio" id="cm_star-1" name="fb" value="1" ng-model="Comentario.active.nota">
            <label for="cm_star-2"><i class="fa"></i></label>
            <input type="radio" id="cm_star-2" ng-model="Comentario.active.nota" name="fb" value="2">
            <label for="cm_star-3"><i class="fa"></i></label>
            <input type="radio" id="cm_star-3" ng-model="Comentario.active.nota" name="fb" value="3">
            <label for="cm_star-4"><i class="fa"></i></label>
            <input type="radio" id="cm_star-4" name="fb" ng-model="Comentario.active.nota" value="4">
            <label for="cm_star-5"><i class="fa"></i></label>
            <input type="radio" id="cm_star-5" name="fb" ng-model="Comentario.active.nota" value="5">
             
          </div>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </div>
</div>