 <div class="component-holder ng-binding ng-scope" data-component="crn-datasource" id="crn-datasource-177008"><datasource name="Carro" entity="api/rest/Abastecimento" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" filter="/listaRankingCarro"></datasource></div><h3 align="center">Carros Campões de Rentabilidade</h3><div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-470887"><div crn-datasource="Carro">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true">Marca</div></th>
        <th><div data-container="true">Modelo</div></th>
      <th><div data-container="true">Ano</div></th><th><div data-container="true">Media de Rentabilidade</div></th><th><div data-container="true">Media Geral</div></th></tr>
    </thead>
      <tbody><tr class="table-content" ng-repeat="rowData in datasource.data">
        <td class="active"><div data-container="true">{{rowData.marca}}</div></td>
        <td><div data-container="true">{{rowData.modelo}}</div></td>
      <td><div data-container="true">{{rowData.ano}}</div></td><td><div data-container="true">{{rowData.mediaRentabilidadesCarro}}</div></td><td><div data-container="true">{{rowData.mediaRentabilidadeGeral}}</div></td></tr>
    </tbody>
  </table>
  <div class="table-footer-controls">
    <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button>
  </div>
</div></div>