<h3>Posto</h3>
<div class="row" ng-hide="Posto.inserting || Posto.editing">
  <div class="col-md-2">
    <div>
      <label for="textinput-filter" class="">{{"template.crud.search" | translate}} Nome</label>
      <input type="text" ng-model="nome" class="form-control" value="" placeholder="Nome" >
    </div>
  </div>
</div>
<br/>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?nome={{nome}}" name="Posto" entity="api/rest/Posto/specificSearch" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Posto.startInserting()" ng-hide="Posto.inserting || Posto.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Posto">
  <div crn-datasource="Posto" class="" ng-hide="Posto.editing || Posto.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Nome</div>
          </th>
          <th class="">
            <div class="">Cep</div>
          </th>
          <th class="">
            <div class="">Logradouro</div>
          </th>
          <th class="">
            <div class="">Numero</div>
          </th>
          <th class="">
            <div class="">Bairro</div>
          </th>
          <th class="">
            <div class="">Cidade</div>
          </th>
          <th class="">
            <div class="">Uf</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.nome}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.cep}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.logradouro}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.numero}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.bairro}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.cidade}}
            </div>
          </td>
          <td class="">
            <div class="">
              {{rowData.uf}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Posto">
  <div class="form" ng-show="Posto.editing || Posto.inserting">
    <form crn-datasource="Posto" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-nome">
          <div class="form-group">
            <label for="textinput-nome" class="">Nome</label>
            <input
              type="text"
              ng-model="Posto.active.nome"
              class="form-control"
              id="textinput-nome"
              maxlength="50"
              placeholder="Ex: SP"
              required=""
              title="Por favor, insira o nome."
              >
          </div>
        </div>
       
       
       </fieldset><div class="component-holder ng-binding ng-scope" data-component="crn-viacep" data-attribute-preview="" id="crn-viacep-398933"><div ng-controller="CtrlViaCep">
         <div data-container="true" id="starter">
            <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">CEP</label>
                <input type="text" ng-change="viacep()" name="cep" required="" ng-model="address.cep" class="form-control" id="textinput-cep" placeholder="Digite o CEP">
            </div>
        </div>
       
         <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Logradouro</label>
                <input type="text" name="logradouro" required="" ng-model="address.logradouro" via-cep="logradouro" disabled="" class="form-control" id="textinput-logradouro">
            </div>
        </div>
        
        
        <div data-component="crn-textinput" id="crn-textinput-numero">
          <div class="form-group">
            <label for="textinput-numero" class="">Numero</label>
            <input
              type="text"
              ng-model="Posto.active.numero"
              class="form-control"
              id="textinput-numero"
              placeholder="Numero"
              >
          </div>
       <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Bairro</label>
                <input type="text" name="bairro" required="" ng-model="address.bairro" disabled="" class="form-control" id="textinput-bairro">
            </div>
        </div>


        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">UF</label>
                <input type="text" name="uf" required="" ng-model="address.uf" via-cep="uf" disabled="" class="form-control" id="textinput-uf">
            </div>
        </div>
   


   
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Cidade</label>
                <input type="text" name="localidade" required="" ng-model="address.localidade" disabled="" class="form-control" id="textinput-cidade">
            </div>
        </div>


    </div>
</div>  
</div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
  </div>
</div>