<h3>Posto</h3>
<div class="row" ng-hide="Posto.inserting || Posto.editing">
  <div class="col-md-2">
    <div>
      <label for="textinput-filter">{{"template.crud.search" | translate}} Nome</label>
      <input type="text" ng-model="nome" class="form-control" value="" placeholder="Nome">
    </div>
  </div>
</div>
<br>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?nome={{nome}}" name="Posto" entity="api/rest/Posto/specificSearch" keys="id" rows-per-page="100" delete-message="Deseja remover?"></datasource>
</div>

<div class="component-holder" data-component="crn-grid" id="crn-grid-Posto">
  <div crn-datasource="Posto" ng-hide="Posto.editing || Posto.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th>
            <div>Nome</div>
          </th>
          <th>
            <div>Cep</div>
          </th>
          <th>
            <div>Logradouro</div>
          </th>
          <th>
            <div>Bairro</div>
          </th>
          <th>
            <div>Uf</div>
          </th>
          <th>
            <div>Cidade</div>
          </th>
          
                     <th>
            <div>
              Comentários
            </div>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td>
            <div>
              {{rowData.nome}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.cep}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.logradouro}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.bairro}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.uf}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.cidade}}
            </div>
          </td>
          
                     <td>
            <div>
    <div data-component="crn-datasource" class="component-holder">
          <datasource filter="" name="ComentarioGrid" enabled="{{Posto.editing || Posto.inserting}}" entity="api/rest/Posto/{{Posto.active.id}}/Comentario" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Posto" dependent-lazy-post-field="posto"></datasource>
        </div>
        <button class="btn btn-danger" onclick="$('#modalComentarioGrid').modal('show');" ng-click="ComentarioGrid.startInserting();"><i class="glyphicon glyphicon-comment"></i> <span class="">{{"Add" | translate}} Comentario</span> </button>
        
        <button class="btn btn-info"  ng-click="redirectComentarios()"><i class="glyphicon glyphicon-list-alt"></i> <span class="">Ver Comentarios</span> </button>

        <div class="modal fade" id="modalComentarioGrid">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Comentario</h4>
              </div>
              <div class="modal-body">
                <div class="text-danger wrapper text-center" ng-show="authError">
                </div>
                <div class="list-group list-group-sm">
                  <div data-component="crn-textinput" id="crn-textinput-data">
                    <div class="form-group">
                      <label for="textinput-data">Data</label>
                      <div style="position:relative">
                        <input as-date="" format="DD/MM/YYYY HH:mm:ss" ng-model="ComentarioGrid.active.data" class="form-control" id="textinput-data" placeholder="Data" type="text">
                      </div>
                    </div>
                  </div>
                  <div data-component="crn-textinput" id="crn-textinput-texto">
                    <div class="form-group">
                        
                      <label for="textinput-texto">Texto</label>
                       <textarea  ng-model="ComentarioGrid.active.texto" class="form-control" id="textinput-texto" placeholder="Texto" type="text"  rows="3"></textarea>
                    </div>
                  </div>
                  <div data-component="crn-textinput" id="crn-textinput-nota">
                    <div class="form-group">
                      <label for="textinput-nota">Nota</label>
                      <input ng-model="ComentarioGrid.active.nota" class="form-control" id="textinput-nota" placeholder="Nota" type="number">
                    </div>
                  </div>
              <div data-component="crn-datasource" class="component-holder">
                    <datasource name="userGridForUiSelect" entity="api/security/User" keys="id" rows-per-page="100" ></datasource>
                  </div>
                  <div data-component="crn-combobox" id="crn-combobox-ComentarioGrid.active.user">
                    <div class="form-group">
                      <label for="combobox-user" class="">Users</label>
                      <ui-select ng-model="ComentarioGrid.active.user" crn-datasource="userGridForUiSelect" class="crn-select" id="combobox-user" required="required" >
                        <ui-select-match class="">
                          {{$select.selected.email}}
                        </ui-select-match>
                        <ui-select-choices repeat="rowData in datasource.data | filter : session.user.email" class="">
                          <div class="" data-container="true">
                            {{rowData.email}}
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ComentarioGrid.post();" onclick="(!ComentarioGrid.missingRequiredField()?$('#modalComentarioGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>

            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>

