<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/AppMeupostofavorito" password="68s208905s6pp89n" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:mysql://rds-oncronos-shared.cx8gelec2ybx.us-east-1.rds.amazonaws.com:3306/bd3b57cc-2f0d-4e66-8f20-8905f6cc89a0" username="oq3o57pp2s0q4r66"/>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/AppMeupostofavorito1" password="nn460nnp8r49rr71" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:mysql://rds-oncronos-shared.cx8gelec2ybx.us-east-1.rds.amazonaws.com:3306/ec8523b1-dc13-4ffa-a460-aac8e49ee717" username="rp8523o1qp134ssn"/>
</Context>
